* {
  margin: 0;
}

body {
}

.App {
  background: url("./images/background.jpg");
  min-height: 100vh;
  position: relative;
}

.app-blur {
  position: absolute;
  inset: 0;
  height: 100%;
  background: rgba(255,255,255,0.5);
  backdrop-filter: blur(5px);
  z-index: 0;
}
