.body {
    overflow-y: scroll;
    padding: 30px;
    height: 100vh;
    flex: 0.8;
    color: white;
    background: linear-gradient(rgb(91,87, 115), rgba(0,0,0,1));
}

.body-info {
    display: flex;
    align-items: flex-end;
    padding: 10px;
}

.body-info > img {
    height: 20vw;
    width: 20vw;
    margin: 0 20px;
    box-shadow: 0 4px 60px rgba(0,0,0,0.5);
}
.body-infoText > p {
    font-size: 14px;
}

.body-songs {
    margin: 0 -30px;
    background-color: rgba(0,0,0,0.25);
}

.body-icons {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255,255,255,0.25);
    margin-bottom: 10px;
}

.body-icons > .MuiSvgIcon-root {
    margin-right: 20px;
}

.body-shuffle {
    font-size: 50px !important;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.body-shuffle:hover {
    transition: 100ms transform ease-in-out;
    transform: scale(1.2);
}

.body-spacer {
    height: 130px;
    margin: 0 -30px;
    width: 100%;
    background-color: rgba(0,0,0,0.25);

}

.body-searchSpacer {
    padding-top: 75px;
}
