.songRow {
    padding: 20px;
    display: flex;
    align-items: center;
    color: white;
    opacity: 0.8;
}

.songRow:hover {
    cursor: pointer;
    background-color: rgba(255,255,255,0.1);
    color: white;
    opacity: 1;
}

.songRow:hover div p {
    color: white;
}
.songRow-icons {
    opacity: 0;
}
.songRow:hover .songRow-icons {
    opacity: 1;
}
.songRow-info {
    display: flex;
    flex: 1;
    margin-left: 20px;
    justify-content: space-between;
}

.songRow-info-search {
    margin-left: 20px;
}

.songRow-info-search > h1 {
    font-size: 14px;
}

.songRow-info > div > h1 {
    font-size: 16px;
}

.songRow-info > div > p {
    font-size: 14px;
    margin-top: 3px;
    color: grey;
}

.songRow-album {
    height: 40px;
    width: 40px;
}
